<div class="container">
  <div class="form-section">
    <div class="form-element">
      <label for="">Payee Name</label>
      <input type="text" (input)="onNameChange($event)" [value]="name" />
    </div>
    <div class="form-element">
      <label for="">Reciver Name</label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>
  <div class="form-section">
    <div class="form-element">
      <label for="">Payment Date</label>
      <input type="date" (input)="onDateChange($event)" [value]="name" />
    </div>
    <div class="form-element">
      <label for="">Receiver Name</label>
      <div>{{ date | date:'longDate' }}</div>
    </div>
  </div>
  <div class="form-section">
    <div class="form-element">
      <label for="">Amount</label>
      <input type="number" (input)="onAmountChange($event)" [value]="name" />
    </div>
    <div class="form-element">
      <label for="">Amount</label>
      <div>{{ amount | currency:'PLN' }}</div>
    </div>
  </div>
</div>
